<h1 class = ".h1_create_new_bake"> Index of all bakes</h1>

<h2 class = ".h2_create_new_bake">

Below is a list of all your recorded bakes.

You can view the bake, edit or delete by clicking on the buttons below </h2>

<hr/>

<% @bakes.each do |bake| %>

<p> Bake id: <%=bake.id%> </p>
<p> Bake Date: <%=bake.bake_date%> </p>
<p> Bake Score: <%=bake.score%> </p>
<p> Starter Time: <%=bake.starter_time%> </p>
<p> Leaven start time: <%=bake.leaven_time%> </p>
<p> Time started autolyse: <%=bake.autolyse_time%> </p>
<p> Time added the salt: <%=bake.add_salt_time%> </p>
<p> Time added started the bulk: <%=bake.bulk_time%> </p>
<p> Time started to shape the dough: <%=bake.shape_time%> </p>
<p> Time started the prove: <%=bake.prove_time%> </p>
<p> Time started put dough in the over: <%=bake.bake_time%> </p>
<p> Time loaf taken from the oven: <%=bake.cool_time%> </p>

<a href=/bake/<%= bake.id%>>
<button class = "button_kac" type = "button">Show this bake </button></a>

<a href="/bake/edit/<%=bake.id%>">
<button class = "button_kac" type = "button">Edit this bake </button></a>

<form class="form-label-group" action="/bake/delete/<%=bake.id%>" method="post">
  <input class = "button_kac" type="Submit" value="Delete this bake">
</form>

<hr/>
<% end %>
