


<p> Bake Date: <%=@bake.bake_date%> </p>
<p> Bake Score: <%=@bake.score%> </p>
<p> Starter Time: <%=@bake.starter_time%> </p>
<p> Leaven start time: <%=@bake.leaven_time%> </p>
<p> Time started autolyse: <%=@bake.autolyse_time%> </p>
<p> Time added the salt: <%=@bake.add_salt_time%> </p>
<p> Time added started the bulk: <%=@bake.bulk_time%> </p>
<p> Time started to shape the dough: <%=@bake.shape_time%> </p>
<p> Time started the prove: <%=@bake.prove_time%> </p>
<p> Time started put dough in the over: <%=@bake.bake_time%> </p>
<p> Time loaf taken from the oven: <%=@bake.cool_time%> </p>
