


<p> Bake Date: <%=@bakes.bake_date%> </p>
<p> Bake Score: <%=@bakes.score%> </p>
<p> Starter Time: <%=@bakes.starter_time%> </p>
<p> Leaven start time: <%=@bakes.leaven_time%> </p>
<p> Time started autolyse: <%=@bakes.autolyse_time%> </p>
<p> Time added the salt: <%=@bakes.add_salt_time%> </p>
<p> Time added started the bulk: <%=@bakes.bulk_time%> </p>
<p> Time started to shape the dough: <%=@bakes.shape_time%> </p>
<p> Time started the prove: <%=@bakes.prove_time%> </p>
<p> Time started put dough in the over: <%=@bakes.bake_time%> </p>
<p> Time loaf taken from the oven: <%=@bakes.cool_time%> </p>
<p> Bake note: <%=@bakes.note_tag%> </p>
