<h1 style="text-align:center" > Notes page</h1>

<p class = "h3_notes_page"> Here you will find a page showing all the notes & their respective bake number </p>

<hr/>

<% @notes.each do |note| %>

<h2 class = "h2_notes_page"> Bake id: <%=note.bake_id%> </h2>
<h2 class = "h2_notes_page"> Note id: <%=note.id%> </h2>
<h2 class = .h2_notes_page"> Bake note: <%=note.note_tag%></h2>


<a href="/bake/<%=note.bake_id%>"
<button class = "button_kac" type = "button" >Show this bake </button></a>

<a href="/notes/edit/<%=note.id%>"
<button class ="button_kac" type = "button" >Edit this note </button></a>

<form
  class = "form-label-group" action="/notes/delete/<%=note.id%>" method="post">
  <input class = "input-submit" type="Submit" value="Delete this note"> </form>
<hr/>
<% end %>
